<%- include('header') -%> <% if(name==''){ %> <%- include('navbar') %> <% }
else{ %> <%- include('navbar', {name: name,isadmin:isadmin}); %> <% } %> <%
if(isadmin){ %>

<div>
  <div class="text-center">
    <a href="/create" class="btn btn-primary btn-lg btn-" role="button"
      >Oylama Başlat</a
    >
  </div>

  <% } else{ %> <% } %>
  <script>
    var socket = io.connect("http://localhost");
    socket.on("connect", function () {
      socket.on("reload", function (data) {
        location.reload();
      });
    });
  </script>
  <script type="text/javascript" src="contract.js"></script>

  <div class="container">
    <table id="voting-table" class="table table-bordered">
      <thead>
        <tr>
          <th class="col-1">Oylama Durumu</th>
          <th class="col-2" onclick="sortTable(0)"> <i class="fas fa-sort"></i> Oylama Id'si</th>
          <th class="col-2">Oylama Konusu</th>
          <th class="col-2">
            <i class="bi bi-alarm-fill"></i>
            Başlangıç Bitiş Tarihi
          </th>

          <th class="col-2">Toplam Oy</th>
          <th class="col-2">Oylama Dağılımı</th>
          <th class="col-2">Oy Kullan</th>
        </tr>
      </thead>

      <tbody>
        <% foundBallots.forEach(function (ballot) { %>

        <tr>
          <% _startDate = ballot.startDate.toString().slice(3,15) %> <%
          _finishDate = ballot.finishDate.toString().slice(3,15) %>

          <td>
            <%= ballot.ballotStatus.charAt(0).toUpperCase() + ballot.ballotStatus.slice(1); %> <% if(isadmin===true){ %>

            <form action="/changestatus" method="POST">
              <div class="form-group" style="margin-bottom: 2%">
                <div>
                  <select
                    class="ui search dropdown"
                    name="ballotstatus"
                    required
                  >
                    <option value='{"status":"open","id":"<%= ballot._id %>"}'>
                      Open
                    </option>
                    <option
                      value='{"status":"freeze","id":"<%= ballot._id %>"}'
                    >
                      Freeze
                    </option>
                    <option
                      value='{"status":"closed","id":"<%= ballot._id %>"}'
                    >
                      Close
                    </option>
                  </select>
                </div>
              </div>
              <button id="submit_button" type="submit" class="btn btn-dark">
                Değiştir
              </button>
            </form>

            <% } else{ %> <% } %>
          </td>
          <td><%= ballot.ballotId %></td>
          <td><%= ballot.ballotSubject %></td>
          <td><%= _startDate %> / <%= _finishDate %></td>

          <td>Toplam oy: <span id="total<%=ballot.ballotId%>"></span></td>
          <td id="votes">
            Oy Dağılımı: Evet=<span id="upCount<%=ballot.ballotId%>"> </span>
            Hayır=<span id="downCount<%=ballot.ballotId%>"></span>
          </td>
          <script>
            async function getBallotInfos(id) {
              ballotInfos = await getBallot(id);
              upVoteCount = Number(ballotInfos.upVote);
              downVoteCount = Number(ballotInfos.downVote);
              document.getElementById("total" + id).innerHTML =
                upVoteCount + downVoteCount;
              document.getElementById("upCount" + id).innerHTML = upVoteCount;
              document.getElementById(
                "downCount" + id
              ).innerHTML = downVoteCount;
            }
            $(function () {
              getBallotInfos("<%= ballot.ballotId %>");
            });
          </script>
          <td>
            <% if(ballot.ballotStatus!="open"){ %>
            <button type="button" class="btn btn-success disabled" disabled>
              Evet
            </button>
            <button type="button" class="btn btn-danger disabled" disabled>
              Hayır
            </button>

            <% } else{ %>

            <button
              id="upvotebutton"
              type="button"
              onclick="addUpVote('<%= ballot.ballotId %>');"
              class="btn btn-success"
            >
              Evet
            </button>

            <button
              id="downvotebutton"
              type="button"
              onclick="addDownVote('<%= ballot.ballotId %>');"
              class="btn btn-danger"
            >
              Hayır
            </button>

            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<script>
  function sortTable(n) {
    var table,
      rows,
      switching,
      i,
      x,
      y,
      shouldSwitch,
      dir,
      switchcount = 0;
    table = document.getElementById("voting-table");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
  no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
    first, which contains table headers):*/
      for (i = 1; i < rows.length - 1; i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        /*Get the two elements you want to compare,
      one from current row and one from the next:*/
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>
